@use "../01-settings/variables" as *;
@use "../02-tools/mixins" as *;

.t-post-list {
  background-color: $gray-light;
  padding-top: $grid-base * 2;
  position: relative;

  @include large-up {
    height: 380px;
  }

  &__content {
    padding-bottom: $grid-base * 4;

    @include large-up {
      background-color: $gray-light;
      clip-path: ellipse(80% 470px at 50% 0);
      left: 0;
      position: absolute;
      right: 0;
      top: $grid-base * 6;
      z-index: 1000;
    }
  }

  &__item {
    margin-bottom: $grid-base * 4;
    margin-top: $grid-base;

    @include large-up {
      margin-bottom: $grid-base * 4;
    }
  }

  &__image {
    margin: 0 auto;
    margin-bottom: $grid-base * 2.5;
    max-width: 349px;
    position: relative;
  }

  &__badge {
    background: $blue-gradient;
    border-radius: $border-radius 0 0 $border-radius;
    color: $white;
    font-size: $font-size-5;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 70%;
  }

  &__excerpt {
    margin-bottom: $grid-base * 5;
  }
}
